# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
import sqlite3
conn = sqlite3.Connection('data.sqlite')
c = conn.cursor()

## Display the names of all the employees in Boston.

In [8]:
c.execute("""SELECT firstname,lastname FROM employees JOIN offices USING(officeCode) WHERE city='Boston';""").fetchall()

[('Julie', 'Firrelli'), ('Steve', 'Patterson')]

## Do any offices have no employees?

In [9]:
c.execute("""SELECT count(*) FROM offices JOIN employees USING(officeCode) GROUP BY officeCode;""").fetchall()

[(6,), (2,), (2,), (5,), (2,), (4,), (2,)]

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [12]:
# Which office has the most employees?
c.execute("""SELECT officeCode, count(*) as EmployeeCount FROM offices JOIN employees USING(officeCode) GROUP BY officeCode ORDER BY EmployeeCount desc LIMIT 1;""").fetchall()

[('1', 6)]

In [16]:
# Which customer has made the most payments?
c.execute("""SELECT customerName, count(*) numPayments FROM payments JOIN customers USING(customerNumber) ORDER BY numPayments desc LIMIT 1;""").fetchall()

[("Kelly's Gift Shop", 273)]

In [18]:
# Which customer has spent the most?
c.execute("""SELECT customerName, sum(amount) numPayments FROM payments JOIN customers USING(customerNumber) ORDER BY numPayments desc LIMIT 1;""").fetchall()

[("Kelly's Gift Shop", 8853839.229999999)]

## Level Up: Display the names of each product each employee has sold.

In [28]:
import pandas as pd

In [36]:
c.execute("""SELECT productName, firstName, lastName
               FROM employees e 
               JOIN customers c
                 ON e.employeeNumber = c.salesRepEmployeeNumber
               JOIN orders o 
              USING (customerNumber)
               JOIN orderDetails 
              USING (orderNumber)
               JOIN products
              USING (productCode)
                 ;""")
df = pd.DataFrame(c.fetchall())
df. columns = [i[0] for i in c.description]
df.head()

                                   productName firstName  lastName
0                               1958 Setra Bus    Leslie  Jennings
1                       1940 Ford Pickup Truck    Leslie  Jennings
2                      1939 Cadillac Limousine    Leslie  Jennings
3  1996 Peterbilt 379 Stake Bed with Outrigger    Leslie  Jennings
4                            1968 Ford Mustang    Leslie  Jennings

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!